@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Raleway:900');

/* Mobile */
@media (max-width: 991px)
{
    .nav-item
    {
        border: 0 !important;
    }

    .dropdown-menu
    {
        width: 100% !important;
    }

    .dropdown-item
    {
        margin: auto !important;
        width: 20% !important;
        border: 0 !important;
    }

    #searchBar
    {
        margin: auto !important;
        width: 100% !important;
    }

    #footer
    {
        flex-direction: column;
        height: 10em !important;
    }
}

/* General */
body
{
    background: black;
    color: white;
}

/* About Us*/
.about-us
{
  overflow: hidden;
  text-align: center;
  background-color: black;
  padding: 20px;
}

.about-us h1
{
  overflow: hidden;
  text-align: center;
  background-color: black;
  padding: 20px;
  color: rgb(175, 28, 28);
}

.border
{
  display: block;
  margin: auto;
  width: 150px;
  height: 3px;
  margin-bottom: 50px;
  background-color: rgb(175, 28, 28);
}

.pictures
{
  margin-bottom: 50px;
  color: white;
}

.pictures a
{
  display: inline-block;
  margin: 0 30px;
  height: 180px;
  width: 180px;
  overflow: hidden;
  border-radius: 50%;
}

.pictures a img
{
  width: 100%;
  filter: grayscale(100%);
  transition: 0.4s all;
}

.pictures a:hover img
{
  filter: none;
}

.pictures a:focus
{
  filter: none;
}

 .section
{
  width: 600px;
  margin: auto;
  font-size: 20px;
  text-align: center;
  font-family: Poppins;
  height: 0;
  overflow: hidden;
}

.section:target
{
  height: auto;
}

.name
{
  margin-top: 0px;
  display: block;
  text-align: center;
  font-size: 30px;
  font-family: Poppins;
  margin-bottom: 20px;
}
