@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Raleway:900');

/* General */
body
{
    background: white;
}

/* Slideshow */
#slideShow
{
    background-color: black;
    
    width: 75%;
    height: 28em;

    margin: auto !important;
}

#slideShow img
{
    width: 100%;
    max-height: 28em;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}

/*Panels*/
#panels
{
    width: 75%;
    margin: auto;
    font-size: 18pt;
}

#panels h1
{
    font-size: 18pt;
    font-family: Poppins;
    text-align: center;
}

#panels h1
{
    background: white;
}

#panels .col
{
    border: 0.1em solid black;
    border-radius: 0.5em;
    height: 13em;
    margin-top: 2em;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    text-decoration: none;
    color: black;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    min-width: 8em !important;

    overflow-y: hidden;
}

#panels img
{
    width: 100%;
    
}

#panels .col:hover
{
    transform: scale(1.1);
    color: #af1c1c;
    border-color: #af1c1c;
    border-width: 0.2em;
}