@media (max-width: 991px)
{
    #content
    {
        width: 100% !important;
    }

    #list
    {
        min-height: 20em !important;
    }
    
    .list-item
    {
        flex-direction: column !important;
        height: 20em !important;
        padding: 0.5em 1em !important;
    }

    .div
    {
        display: none;
    }
}

html, body
{
    height: 100%;
}

body
{
    background-color: #f3f3f3;
}

#content
{
    min-height: 58.5% !important;
}

#content > h1
{
    border-bottom: 0.1em solid #af1c1c !important;
    margin-top: 0.3em;
    margin-bottom: 1em !important;
}

#content label
{
    font-size: 16pt;
}

input[type="date"] 
{
    max-width: 100%;
    padding: .5em;
    box-shadow: none;
    border: none;
    border-bottom: thin solid #af1c1c;
}

#designs > h4
{
    display: inline-block;

    font-size: 16pt;

    border-bottom: 0.1em solid #af1c1c;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-bottom: 0.3em;
}

#list
{
    height: 8em !important;
    overflow-y: auto;
    margin-bottom: 1em;
}

.list-item
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;

    width: 80%;
    height: 5em;

    margin: auto;
    margin-top: 1.5em;

    font-size: 16pt;

    background-color: white;
    color: black;
    border: 0.1em solid #acacac;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.list-item > a:not(:first-child)
{
    text-decoration: none;
    color: black;
    font-size: 16pt;
}

.list-item > a:focus
{
    outline: none;
}

.list-item:hover
{
    color: black;
    text-decoration: none;
    transform: scale(1.02);
}

.list-item:focus
{
    outline: none;
}

.list-item img
{
    width: 4em;
    height: 4em;
}

.div
{
    border: 0.01em solid #af1c1c;
    height: 50%;
}