@media (max-width: 991px)
{
    #accordionExample i
    {
        position: static !important;
    }

    .card-body textarea
    {
        width: 75% !important;
    }

    .card-body input
    {
        width: 75% !important;
    }

    .card-body button
    {
        width: 75% !important;
    }
}

#collapseZero form
{
    font-size: 16pt;
}

.card-body input[type="text"]
{
    border: none;
    border-bottom: thin solid #af1c1c;
    box-shadow: none;

    width: 50%;
    
    margin: auto;

    font-size: 12pt;
}

.card-body textarea
{
    margin: auto;
    margin-top: 1em;
    width: 50%;
    resize: none;

    font-size: 12pt;
    box-shadow: none;
}

.card-body button
{
    width: 50%;
    margin-top: 1em;

    background-color: #af1c1c;
}

#accordionExample i
{
    position: absolute;
    right: 4em;
    top: 1.2em;
    vertical-align: middle;
    
    cursor: pointer;
}

