@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Raleway:900');

/* General */
body
{
    background: white;
    color: black;
    text-align: center;
}

h1
{
  margin-top: 1em;
  display: block;
  margin: auto;
  font-family: Poppins;
  font-size: 300%;
  margin-bottom: 1em;
  padding-bottom: 0.2em;
  border-bottom: 0.01em solid rgb(175, 28, 28);
  color: black;
}


.accordion
{
  margin: auto;
  margin-top: 2em;
  width: 80%;
  color: black;
}


#headingOne
{

      border-color: 5em solid yellow;
}

.card
{
  margin-top: 20px;
  color: black;
  background-color: white;
  font-family: Poppins;
  text-decoration: none;

  border: 0.1em solid #af1c1c !important;
}



.btn.btn-link
{

  color: black !important;
  font-family: Poppins;
  font-size: 22px;

  text-decoration: none;
}


.btn.btn-link.collapsed
{
  color: black !important;
  font-family: Poppins;
  font-size: 22px;
    cursor: pointer;
  text-decoration: none;
}

.card-header
{

  margin: auto !important;
  /* border-bottom: 1px solid white; */
  background-color: white;

}

.card:hover
{
  text-decoration: none;
}

.card-body
{
  border-width: 0.2em;
  border-top: 1px solid #af1c1c;
}
/*
.container
{
  max-width: 60%;
  margin: 0 auto;
  padding: 10px 0 20px;
  width: 100%;
}

div
{
  display: block;
}

h3
{
  margin-top: 1em;
  display: block;
  font-weight: bold;
  max-width: 100%;
  font-family: Poppins;
  letter-spacing: 2px;
}

.question h3
{
  text-align: left;
  font-size: 2em;
  padding: 15px;
  background-color: rgb(175, 28, 28);
  margin: 0;
  cursor: pointer;
  position: relative;
}

.question
{
  border-bottom: 1px solid white;
}

.question h3:after
{
  content: "+";
  position: absolute;
  right: 3px;
}

.answer
{
  background-color: grey;
  display: none;
}

.answer *
{
  margin-top: 0;
}

.answertext
{
  padding: 15px;
} */
