@media (max-width: 991px)
{
    .review > .media-body.row
    {
        flex-direction: column !important;        
    }

    .rating
    {
        min-width: 100% !important;
    }
   
}

#reviews
{
    margin-top: 1.5em;

    max-height: 18.9em;
    overflow: auto;
}

.review
{
    width: 100%;
    border-top: thin solid gray;

    padding-top: 1em;
    margin-bottom: 1em;
}

.review *, .review *:hover
{
    text-decoration: none;
    color: black;
}

.review *:focus
{
    outline: none;
}

.review > .media-body.row
{
    display: flex;
    justify-content: space-between;
}

.rating .checked
{
    color: gold;
}