@media (max-width: 991px)
{
    .review > .media-body.row
    {
        flex-direction: column !important;        
    }

    .rating
    {
        min-width: 100% !important;
    }
   
}

#reviews
{
    margin-top: 1.5em;

    max-height: 18.9em;
    overflow: auto;
}

.review
{
    width: 100%;
    border-top: thin solid gray;

    padding-top: 1em;
    margin-bottom: 1em;
}

.review *, .review *:hover
{
    text-decoration: none;
    color: black;
}

.review *:focus
{
    outline: none;
}

.review > .media-body.row
{
    display: flex;
    justify-content: space-between;
}

div.to-flex{
    display: flex;
}

.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
}
   
.stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0%;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: orange;
}