@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Raleway:900');

@media (max-width: 991px)
{
	#separationver
	{
		display: none !important;
	}

	#options_buttons
	{
		border-top: 0.15em solid #af1c1c;
		padding-top: 1em !important;

	}
	
	.presentation
	{
		flex-direction: column !important;
	}

	.presentation > img
	{
		align-self: center !important;
		margin-bottom: 1em !important;
	}

	#profilepicture
	{
		display: block;
	}
}

.profile
{
	min-height: 18.9em; 
}

#cont 
{
	box-shadow: 0px 0px 20px 5px lightgrey;
}

.presentation 
{
	margin:auto;
	margin-top: 10px;

	display: flex;
	justify-content: space-between;
}

#info_left > .status
{
	margin-top: 2em;
	height: 12em;
}

#name {
	font-family: Raleway;
	align-self: center;
	margin: auto auto;
	font-size: 1.5em;
}

#separationver {
	border: 1px solid #af1c1c;
	position: absolute;
	left:-2px;
	top:5%;
	height:90%;
}

.list-group {
	font-family: Poppins;
	margin: 5%;
	margin-left: 10%;
}

li.list-group-item:hover > img {
	border: 1px solid #af1c1c;
	left: 100%;
	top: -50%;
	position: absolute;
	display: block !important;
	z-index:9990 !important;
	width: 150px;
	height: 150px;
}

.status
{
	height: 20%;
}

.status > small
{
	font-size: 12pt;
	
	overflow: auto;
}

.wishlist
{
	margin-bottom: 2em;
}

.wishlist > a:first-child > button
{
	background-color: #af1c1c;
	color: white;

	margin-left: 1em;

	width: 5em;
}

.wishlist > button:hover > button
{
	color: white;
}

.wishlist > button:focus
{
	outline: none;
}

.wishlist > a > img
{
	position: absolute;
	right: 2em;

	width: 2.5em;
}

#options_buttons
{
	display: flex;
	justify-content: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

#options_buttons *
{
	background-color: #af1c1c;
	border: none;
}

#options_buttons *:focus
{
	box-shadow: none;
	background-color: #851818
}

#options_buttons > :first-child
{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;

	border-right: thin solid #851818;
}

#options_buttons > :last-child
{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#profilepicture {
	width:100px;
	height:100px;
  	border-radius: 50%;
}

.separation 
{
	margin: 10px auto;
	display: block;
	border: 1px solid grey;
	width:100%;
	height:2px;
}