@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Raleway:900');

body {
    overflow-x: hidden;
    background-color: #f3f3f3;
}

div#content {
    width: 70%;
    margin: auto;
    background-color: white;
    color: black;
    font-family: Poppins;
    padding: 1em;
}

div#content > form {
    font-size: 1.1em;
}

div#content h1 {
    font-family: Poppins;
    font-size: 24pt;
    border-bottom: 0.1em solid #af1c1c;
    padding-bottom: 0.5em !important;
    margin-top:0.5em;
}

div#content form > div > label, div#content form > div > span {
    margin-bottom: .5em;
    margin-right: 1em;
    padding-left: .5em;
    border-left: solid #af1c1c;
}

div#content label, div#content span {
    margin-bottom: 0;
}

div#content input[type="text"], div#content textarea{
    max-width: 100%;
    padding: .5em;
    box-shadow: none;
    border: none;
    border-bottom: thin solid #af1c1c;
    resize: none;
}

div#content input:focus, div#content textarea:focus {
    border-color: #28a745;
    border-width: medium;
}

div#content div#radios div {
    margin: 1em;
}

div#content div#description span {
    display: block;
}

div#content div label.to-block, div#content div span.to-block{
    display: block;
}

div#content div#files input[type="file"] {
    display: none;
}

div#content div#files label, div#content div#files span {
    border-right: thin solid #ccc; 
    border-top: thin solid #ccc; 
    border-bottom: thin solid #ccc; 
    display: inline-block;
    padding: .5em;
    cursor: pointer;
}

div#content input[type="submit"] {
    display: block;
}

footer#footer {
    margin-top: 0;
}