@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Raleway:900');

@media (max-width: 991px)
{
    #content
    {
        width: 100% !important;
    }
    #header
    {
        flex-direction: column !important;
    }

    #header > h1
    {
        font-size: 22pt !important;
    }

    #actions
    {
        margin: auto !important;
    }

    #actions > *
    {
        font-size: 25pt !important;
    }

    #content > img
    {
       width: 100% !important;
    }

    #category, #author
    {
        font-size: 15pt !important;
        max-width: 100% !important;
    }

    #description
    {
        font-size: 12pt !important;
    }
}

body
{
    overflow-x: hidden;
    background-color: #f3f3f3;
    overflow-x: auto;
}

div#content
{
    width: 70%;
    margin: auto;
    background-color: white;
    color: black;
    font-family: Poppins;
    padding: 1em;
}

#header
{
    display: flex;
    font-family: Poppins;
    font-size: 24pt;
    border-bottom: 0.1em solid #af1c1c;
    padding-bottom: 0.5em !important;
    margin-top:0.5em;
}

#content > img
{
    width: 50%;
    margin-top: 2em;
    margin-bottom: 4em;
}

#author
{
    font-family: Poppins;
    font-size: 20pt;
    margin-bottom: 1em;
}

#author > span
{
    border-bottom: 0.1em solid #af1c1c;
    padding-bottom: 0.2em !important;
}

#author > a
{
    text-decoration: none;
    color: black;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

#author > a:hover
{
    color: #af1c1c
}

#author > a:focus
{
    outline: none;
}

#category
{
    max-width: 50%;
    font-size: 20pt;
    margin-bottom: 1em;
}

#category > span:first-child
{
    border-bottom: 0.1em solid #af1c1c;
    padding-bottom: 0.2em;
}

#description
{
    width: 75%;
    font-size: 14pt;
}

#actions
{
    margin-left: auto;
}

#actions > *
{
    font-size: 30pt;
    cursor: pointer;
}

#actions > i:first-child
{
    margin-right: 0.05em;
    color: green;
}

#actions > i:last-child
{
    color: #af1c1c;
    background-color: white;
}

i:last-child
{
  color: #af1c1c;
  background-color: white;
}

#but2 > i:last-child
{
  color: #af1c1c;
  background-color: white;
}

#but2 > i
{
  color: #af1c1c;
  background-color: white;
  border: none;
}

#but2
{
  background-color: white;
  border: none;
}

#but1
{
  background-color: white;
  border: none;
}

#but1 > i
{
  background-color: white;
  border: none;
  color: green;
  margin-right: 0.05em;
}
