@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Raleway:900');

@media (max-width: 991px)
{
  .section
  {
    width: 100% !important;
  }
}

/* General */
body
{
    background: black;
    color: white;
}

/* About Us*/
.about-us
{
  overflow: hidden;
  text-align: center;
  background-color: black;
}

.about-us h1
{
  overflow: hidden;
  text-align: center;
  background-color: black;
  padding: 0.5em;
  color: white;
  border-bottom: 0.05em solid rgb(175, 28, 28);
  margin: auto;
  margin-bottom: 1.5em;
  width: 7em;
}

.pictures
{
  margin-bottom: 1.5em;
  color: white;
}

.pictures a
{
  display: inline-block;
  margin: 0 2em;
  height: 11em;
  width: 11em;
  overflow: hidden;
  border-radius: 50%;
}

.pictures a img
{
  width: 100%;
  filter: grayscale(100%);
  transition: 0.4s all;
}

.pictures a:hover img
{
  filter: none;
}

.pictures a:focus
{
  filter: none;
}

 .section
{
  width: 25%;
  margin: auto;
  font-size: 16pt;
  text-align: center;
  font-family: Poppins;
  height: 0;
  overflow: hidden;
}

.section:target
{
  height: auto;
}

.name
{
  margin-top: 0;
  display: block;
  text-align: center;
  font-size: 24pt;
  font-family: Poppins;

  border-bottom: 0.1em solid rgb(175, 28, 28);
  margin: auto;
  margin-bottom: 1em;
  padding-bottom: 0.5em;

  width: 100%;
}
