@media (max-width: 991px)
{
    .list-item
    {
        flex-direction: column !important;
        height: 20em !important;
        padding: 0.5em 1em !important;
    }

    .list-item > .div
    {
        display: none;
    }

    #list > div:last-child
    {
        width: 100% !important;
        text-align: left !important;
    }

    #list > div:last-child > span
    {
        margin-right: 0.5em !important;
    }
}

html, body
{
    height: 100% !important;
}

#list
{
    min-height: 50% !important;
    width: 80%;
    margin: auto;
}

.list-item
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;

    width: 100%;
    height: 5em;

    margin: auto;
    margin-top: 1.5em;

    font-size: 16pt;

    background-color: white;
    color: black;
    border: 0.1em solid #acacac;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.list-item:hover
{
    color: black;
    text-decoration: none;
    transform: scale(1.02);
}

.list-item:focus
{
    outline: none;
}

.list-item > img
{
    width: 4em;
    height: 4em;
}

.div
{
    border: 0.01em solid #af1c1c;
    height: 50%;
}

.list-item > i
{
    font-size: 1.5em;
    color: red;
}

#list > .div
{
    margin-top: 2em;
}

#list > div:last-child
{
    width: 100%;
    margin-top: 1em;

}

#list > div:last-child > span
{
    margin-right: 1.5em;
    font-size: 16pt;
    text-align: right;
}

button#buy a, button#buy a:hover, button#buy a:visited {
    text-decoration: none;
    color: white;
}