@media (max-width: 991px)
{
    #content > h1
    {
        font-size: 18pt !important;
        width: 100% !important;
        margin: 0 !important;
    }
}

div#items {
    margin: 1em auto 1em auto;
    width: 70%;
}

.icon {
    width: 4em;
}

#content > h1
{
    border: none !important;
    width: 70%;
    margin: auto !important;
}

#items > .div
{
    margin-top: 1em;
}

#total
{
    font-size: 14pt;
    margin-top: 1em;
    padding-right: 2.5em;
    width: 100%;
}

html {
    background-color: white;
}