@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Raleway:900');

div#content {
    font-family: Poppins;
}

div#content div#product div#gallery {
    margin: 1em 0;
}

div#content div#product div#info {
    margin: 1em 0;
    padding-left: 2em;
}

div#content div#product div#info h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 1em 0;
    display: inline-block;
}

div#content div#product img.heart {
    width: 2em;
    padding-bottom: .6em;
    margin-left: .5em;
}

div#content div#product img.heart:hover {
    cursor: pointer;
}

div#content div#product div#info h2 {
    font-size: 1.6em;
}

div#content div#product div#info h2#price {
    margin-right: 1em;
}

div#content div#product div#info div.to-flex{
    display: flex;
}

.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
}
   
.stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 67%;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: orange;
}

/*********************/

div#content div#info div#size {
    margin: 1em 0;
}

div#content div#info .btn-group button {
    background-color: #af1c1c;
}

div#content div#info .btn-group button:hover {
    background-color: black;
    opacity: 0.8;
}

div#content div#info div#color .custom-select {
    width: 25%;
}

div#content div#product div#info .accordion {
    margin: 2em 0;
}

div#content div#product div#info .accordion .btn-link{
    color: black;
}

div#content div#product div#info .accordion .btn-link:hover{
    text-decoration: none;
    color: #af1c1c;
}

div#content div#product div#info .accordion .btn-link:focus {
    text-decoration: none;
}

div#content div#product div#info ul {
    color: #af1c1c;
    margin: 0;
}

div#content div#product div#info li {
    color: black;
}

div#content div#info div#buy button {
    margin: 0 1em 1em 0;
}


div#content div#reviews .rating .checked {
    color:orange;
}

div#content div#reviews {
    margin: 1em;
}

div#content div#reviews h1{
    margin: 1em;
    font-size: 1.6em;
}

div#content div#reviews div.media {
    padding: 1em;
    margin: 1em 0;
    border-top: thin solid grey;

}

div#content div#reviews div.rating {
    display: flex;
    justify-content: flex-end;
}

div#content div#reviews div#add div.rating span:hover{
    cursor: pointer;
}

div#content div#reviews div#add textarea {
    width: 80%;
    padding: .5em;
    resize: none;
}

div#content div#reviews div#add button {
    display: block;
    margin: auto;
}

@media (max-width: 767px) {
    div#content div#reviews div.media-body.row,div#content div#reviews div.media.container {
        flex-direction: column;

    }

    div#content div#reviews div.rating {
        justify-content: flex-start;
        margin: .5em 0;
    }

    div#content div#reviews img, div#content div#reviews h5, div#content div#reviews textarea {
        margin: .5em 0;
    }

    div#content div#info div#color .custom-select {
        width: 75%;
    }
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23af1c1c' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23af1c1c' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}