@media (max-width: 991px)
{
    #search_parameters
    {
        flex-direction: column !important;
    }

    #search_parameters > .dropdown
    {
        margin-top: 1em !important;
        margin-bottom: 5em !important;
    }

    #search_parameters span
    {
        font-size: 14pt !important;
    }

    #search_parameters button
    {
        font-size: 14pt !important;
    }
}

#search_parameters
{
    display: flex;
    justify-content: space-between;

    width: 80%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: left;
}

#search_parameters span
{
    font-size: 18pt;
}

#search_parameters span:nth-child(2)
{
    margin-left: 0.5em;
}

#search_parameters span:first-child
{
    border-bottom: 0.1em solid #af1c1c;
    padding-bottom: 0.1em;
}

#search_parameters .dropdown-menu
{
    background-color: white;
}

#search_parameters .dropdown-item
{
    background-color: white;
}

#search_parameters button
{
    background-color: white;
    color: black;
    border: none;

    font-size: 17pt; 
}

#search_parameters button:focus
{
    box-shadow: none;
}

#search_parameters > .dropdown > span
{
    font-size: 17pt;
    
    vertical-align: middle;

    margin-bottom: 1em;
    border-bottom: 0.1em solid #af1c1c;
}