@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Raleway:900');

@media (max-width: 991px)
{
  #banner
  {
    font-size: 40pt !important;
  }

  .settings
  {
    padding-bottom: 0 !important;
  }
}

/* Banner */
#banner
{
    font-family: Raleway;
    font-size: 60pt;
    text-align: center;
}

#banner > span:first-child
{
    color: rgb(175, 28, 28);
}

#banner > span:nth-child(2)
{
    color: white;
}

html
{
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

body
{
  background-image: url("../resources/images/feup.png");
  margin: 0;
  height: 100%;
  width: 100%;

  overflow: auto;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


.btn.btn-primary
{
  position: static;
  float: right;
  margin-bottom: 4em;
  background-color:  rgb(175, 28, 28);
  border-color: none !important;
  border-style: none !important;
}

.btn.btn-primary:hover
{
  background-color:  rgb(125, 28, 28);
  border-color: none !important;
  border-style: none !important;
}

.btn.btn-primary:active
{
  background-color:  rgb(125, 28, 28);
  border-color: none !important;
  border-style: none !important;
}


.settings
{
  position: relative;
  top: 3em;

  width: 50em;
  max-width: 90%;

  border: 2px solid white;
  box-sizing: border-box;
  color: white;
  background: #000;
  padding: 5em 3em;
  padding-bottom: 0.5em;
  font-family: Poppins;
  margin: auto;
}



.btn.btn-secondary
{
  margin-top: 1em;
  background-color:  rgb(175, 28, 28);
  border-color: none !important;
  border-style: none !important;
}

.btn.btn-secondary:hover
{
  background-color:  rgb(125, 28, 28);
  border-color: none !important;
  border-style: none !important;
}

.btn.btn-secondary:active
{
  background-color:  rgb(125, 28, 28);
  border-color: none !important;
  border-style: none !important;
}

.settings h1
{
    margin: 0;
    padding: 0;
    color: rgb(175, 28, 28);
    border-bottom: 1px solid rgb(175, 28, 28);
    text-align: center;
    font-family: Poppins;
    margin-bottom: 1em;
}


.btn.btn-third
{
  color: white;
  margin-top: 0em;
  position: absolute;
  right: 1em;
  background-color:  rgb(175, 28, 28);
  border-color: none !important;
  border-style: none !important;
}

.btn.btn-third:hover
{
  background-color:  rgb(125, 28, 28);
  border-color: none !important;
  border-style: none !important;
}

.btn.btn-third:active
{
  background-color:  rgb(125, 28, 28);
  border-color: none !important;
  border-style: none !important;
}

.avatar
{
  width: 6em;
  height: 6em;
  border-radius: 50%;
  position: absolute;
  top: -2em;
  left: calc(50% - 50px);
}

.settings input
{
  margin-top: 0.2em;
  width: 100%;
  margin-bottom: 1.5em;
}

.settings input[type="text"], input[type="password"], input[type="email"]
{
  border: none;
  border-bottom: 0.1em solid rgb(175, 28, 28);
  background: transparent;
  outline: none;
  height: 2.7em;
  color: white;
}

.settings input[type="text"]::placeholder, input[type="password"]::placeholder, input[type="email"]::placeholder
{
  color: white;
}

.settings input[type="submit"]
{
  background:  rgb(175, 28, 28);
  color: white;
  outline: none;
  border: none;
}

.settings input[name="Edit All"]
{
  background:  rgb(175, 28, 28);
  color: white;
  outline: none;
  border: none;
}

.card.card-body
{
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid white;
  background-color: black;
  position: static;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: rgb(175, 28, 28);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
