@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Raleway:900');

body {
    overflow-x: hidden;
}

div#content {
    width: 70%;
    margin: auto;
    background-color: white;
    border-left: thin solid #af1c1c;
    border-right: thin solid #af1c1c;
    font-family: Poppins;
    padding: 1em;
}

div#content > form {
    font-size: 1.1em;
}

div#content > form > div{
    margin: 1em;
}

div#content h1 {
    text-align: center;
    font-weight: bold;
    font-size: 1.8em;
    color: black;
    margin: .5em;
    margin-bottom: 1em;
    padding: .5em;
    border-bottom: medium solid rgb(112, 112, 112);
    background-color: #af1c1c;
    color: white;
}

div#content form > div > label {
    margin-bottom: .5em;
    margin-right: 1em;
    padding-left: .5em;
    border-left: solid #af1c1c;
}

div#content label {
    margin-bottom: 0;
}

div#content input[type="text"], div#content textarea{
    max-width: 100%;
    padding: .5em;
    box-shadow: none;
    border: none;
    border-bottom: thin solid #af1c1c;
}

div#content input:focus, div#content textarea:focus {
    border-color: rgb(167, 243, 207);
    border-width: medium;
}

div#content div#radios div {
    margin: 1em;
}

div#content div#description label {
    display: block;
}

div#content input[type="submit"] {
    margin: auto;
    display: block;
}

div#content input[type="submit"] {
    border-radius: 0;
}

footer#footer {
    margin-top: 0;
}